### 1. Import the necessary libraries if you are starting a new notebook. Using the same data as the previous lab: we_fn_use_c_marketing_customer_value_analysis.csv

In [60]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

pd.set_option('display.max_columns', None)

In [61]:
customer_df = pd.read_csv('we_fn_use_c_marketing_customer_value_analysis.csv')

In [70]:
cols = []
for i in range(len(customer_df.columns)):
    cols.append(customer_df.columns[i].lower().replace(' ', '_'))
customer_df.columns = cols

In [71]:
customer_df['effective_to_date'] = pd.to_datetime(customer_df['effective_to_date'], errors='coerce')

### 2. Find all of the categorical data. Save it in a categorical_df variable.

In [72]:
categorical_df = customer_df.select_dtypes(object)
categorical_df.head(2)

,customer,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,BU79786,Washington,No,Basic,Bachelor,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize

### 3. Check for NaN values.

In [73]:
# There are no NaN values in this dataset
categorical_df.isna().sum()/len(categorical_df)*100

customer            0.0
state               0.0
response            0.0
coverage            0.0
education           0.0
employmentstatus    0.0
gender              0.0
location_code       0.0
marital_status      0.0
policy_type         0.0
policy              0.0
renew_offer_type    0.0
sales_channel       0.0
vehicle_class       0.0
vehicle_size        0.0
dtype: float64

### 4. Check all unique values of columns.

In [74]:
# Checking unique values in columns. 
for col in categorical_df.columns:
    print(categorical_df[col].unique())
    #print(categorical_df[col], categorical_df[col].unique())

['BU79786' 'QZ44356' 'AI49188' ... 'TD14365' 'UP19263' 'Y167826']
['Washington' 'Arizona' 'Nevada' 'California' 'Oregon']
['No' 'Yes']
['Basic' 'Extended' 'Premium']
['Bachelor' 'College' 'Master' 'High School or Below' 'Doctor']
['Employed' 'Unemployed' 'Medical Leave' 'Disabled' 'Retired']
['F' 'M']
['Suburban' 'Rural' 'Urban']
['Married' 'Single' 'Divorced']
['Corporate Auto' 'Personal Auto' 'Special Auto']
['Corporate L3' 'Personal L3' 'Corporate L2' 'Personal L1' 'Special L2'
 'Corporate L1' 'Personal L2' 'Special L1' 'Special L3']
['Offer1' 'Offer3' 'Offer2' 'Offer4']
['Agent' 'Call Center' 'Web' 'Branch']
['Two-Door Car' 'Four-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car']
['Medsize' 'Small' 'Large']

In [75]:
# Checking percentage of not unique values in columns. 
    # Customer: unique values represent 100% of the total values.
    # Gender: unique values represent 2% of the total values. 
round(categorical_df.nunique()/len(categorical_df)*100, 2)

customer            100.00
state                 0.05
response              0.02
coverage              0.03
education             0.05
employmentstatus      0.05
gender                0.02
location_code         0.03
marital_status        0.03
policy_type           0.03
policy                0.10
renew_offer_type      0.04
sales_channel         0.04
vehicle_class         0.07
vehicle_size          0.03
dtype: float64

### 5. Check dtypes. Do they all make sense as categorical data?

In [76]:
# I think all the columns could remain as categorical. However, the column response could be turned into a boolean.

categorical_df.dtypes

customer            object
state               object
response            object
coverage            object
education           object
employmentstatus    object
gender              object
location_code       object
marital_status      object
policy_type         object
policy              object
renew_offer_type    object
sales_channel       object
vehicle_class       object
vehicle_size        object
dtype: object

### 6. Does any column contain alpha and numeric data? Decide how to clean it.

In [89]:
categorical_df.head(2)

,customer,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,BU79786,Washington,No,Basic,Bachelor,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize

In [78]:
# Columns 'customer', 'policy' and 'renew_offer_type' contain alphanumeric values. 
categorical_df['policy'].unique()

array(['Corporate L3', 'Personal L3', 'Corporate L2', 'Personal L1',
       'Special L2', 'Corporate L1', 'Personal L2', 'Special L1',
       'Special L3'], dtype=object)

In [ ]:
# Customer: can be dropped
# Policy: the column 'policy_type' already contains part of the information contained in 'policy'. L1, L2 and L3 in 'policy'
# could be turned into a, b, c for latter encoding. 
# Renew_offer_type: there are 4 levels of offers, could be categorized from low to high.

### 7. Would you choose to do anything else to clean or wrangle the categorical data? Comment your decisions.

In [ ]:
# Response: convert into boolean
# Education: could be ranked from 1 to 5, from lower to higher education level
#

In [86]:
categorical_df['gender'].unique()

array(['F', 'M'], dtype=object)

### 8. Compare policy_type and policy. What information is contained in these columns. Can you identify what is important?

In [ ]:
# Policy: the column 'policy_type' already contains part of the information contained in 'policy'. L1, L2 and L3 in 'policy'
# could be turned into a, b, c for latter encoding.

### 9. Check number of unique values in each column, can they be combined in any way to ease encoding? Comment your thoughts and make those changes.

In [88]:
# Checking number of unique values in columns. 
for col in categorical_df.columns:
    print(categorical_df[col].value_counts())
    #print(categorical_df[col], categorical_df[col].unique())
    
# Employmentstatus: employed, unemployed and others (medical leave, disabled, retires)
# Vehicle_class: four-door car, two-door car, SUV, luxury (sports car, luxury suv, luxury car)

BU79786    1
PU81096    1
CO75086    1
WW52683    1
XO38850    1
          ..
HS14476    1
YL91587    1
CT18212    1
EW35231    1
Y167826    1
Name: customer, Length: 9134, dtype: int64
California    3150
Oregon        2601
Arizona       1703
Nevada         882
Washington     798
Name: state, dtype: int64
No     7826
Yes    1308
Name: response, dtype: int64
Basic       5568
Extended    2742
Premium      824
Name: coverage, dtype: int64
Bachelor                2748
College                 2681
High School or Below    2622
Master                   741
Doctor                   342
Name: education, dtype: int64
Employed         5698
Unemployed       2317
Medical Leave     432
Disabled          405
Retired           282
Name: employmentstatus, dtype: int64
F    4658
M    4476
Name: gender, dtype: int64
Suburban    5779
Rural       1773
Urban       1582
Name: location_code, dtype: int64
Married     5298
Single      2467
Divorced    1369
Name: marital_status, dtype: int64
Personal Auto     6788
Corporate Auto    1968
Special Auto       378
Name: policy_type, dtype: int64
Personal L3     3426
Personal L2     2122
Personal L1     1240
Corporate L3    1014
Corporate L2     595
Corporate L1     359
Special L2       164
Special L3       148
Special L1        66
Name: policy, dtype: int64
Offer1    3752
Offer2    2926
Offer3    1432
Offer4    1024
Name: renew_offer_type, dtype: int64
Agent          3477
Branch         2567
Call Center    1765
Web            1325
Name: sales_channel, dtype: int64
Four-Door Car    4621
Two-Door Car     1886
SUV              1796
Sports Car        484
Luxury SUV        184
Luxury Car        163
Name: vehicle_class, dtype: int64
Medsize    6424
Small      1764
Large       946
Name: vehicle_size, dtype: int64